.DS_Store
activities/.ipynb_checkpoints/03_merging_exact_blank-checkpoint.ipynb
problemsets/pset2/.ipynb_checkpoints/pset2_blank-checkpoint.ipynb
problemsets/pset2/.ipynb_checkpoints/pset2_charsadelain-checkpoint.ipynb
problemsets/pset2/.ipynb_checkpoints/pset2_blank-checkpoint.ipynb
problemsets/pset2/.ipynb_checkpoints/pset2_blank-checkpoint.ipynb
